@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: bold">Welcome to HNK Hajduk PAGE</h1>
</div>
<body style="background-image: url('../hajduk/hs2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow-x:hidden;">
</body>
