@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This website is managed by HNK Hajduk š.d.d. The protection of personal data is very important to us. In accordance with the new European regulation (GDPR) HNK Hajduk š.d.d. has devoted great efforts to protect the personal data of its website users and to control the access to the information which is collected and processed during the visits to our website www.hajduk.hr (hereinafter: Hajduk.hr). Accordingly, the privacy policy and the use of cookies have been upgraded.<br />

    The data controller is: HNK Hajduk š.d.d. Split<br />

    If, pursuant to Article 26 of the General Data Protection Regulation, HNK Hajduk š.d.d. Split is the joint data controller, responsible for processing your personal data with another data controller on the basis of a joint business cooperation and / or a common service and / or legitimate interests of HNK Hajduk š.d.d., you may request information with regard to the protection and processing of your personal data from both Hajduk š.d.d and from the other data controller, who is listed in the section of this Policy titled “Regulations on joint data controllers”.<br />

    HNK Hajduk š.d.d. has appointed a personal data protection officer.<br />

    Regarding all matters in connection with the processing of your personal data and the exercise of your rights set forth in the General Data Protection Regulation, you may contact the Personal Data Protection Officer in any of the following ways:<br />

    1.in writing at the address: HNK HAJDUK š.d.d. 8. Mediteranskih igara 2, 21000 Split<br />
    2.by email to: zastita.podataka@hajduk.hr
</p>
<body style="background-image: url('../hajduk/hs2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow-x:hidden;">
</body>