<div class="input-group mb-3 table-rows-per-page">
    <div class="input-group-prepend">
        <label class="input-group-text">Rows per page</label>
    </div>
    <select class="custom-select" onchange="onRowsPerPageChanged(this)">
        <option value="5">5</option>
        <option value="10" selected="selected">10</option>
        <option value="25">25</option>
    </select>
</div>